.filter {
	padding : 30px;
	.form {
		margin-top : 10px;
		border-style: ridge;
		padding : 10px;
		.fig {
			text-align: center;
		}
	}

	.text {
		font-size: 150%;
		color: #8B0000;
		font-weight: bold;
	}

	.Boxes {
		display : inline-block;
		padding : 5px;
		margin-left : 20px;
	}
	
	.checkBoxes {
		display : inline-block;
		margin-left : 20px;
	}

	.button {
		margin-top : 10px;
		width : 170px;
		height : 35px;
		font-size : 100%;
		background-color: #4CAF50;
		border: none;
		color: white;
	}

}

.box {
	width : 130px;
	height : 25px;
}

.pic {
	display : inline-block;
	cursor:pointer;
    max-height: 250px;
    max-width: 250px;
}

.map {
	display : inline-block;
	margin-left : 30px;
}

.dcrb {
	color: blue;
	font-size: 150%;
}


$react-rater-link: #ccc !default;
$react-rater-hover: #666 !default;
$react-rater-active: #000 !default;

.react-rater {
  display: inline-block;
  line-height: normal;
  a {
    cursor: pointer;
    color: $react-rater-link;
    position: relative;
    &.will-be-active {
      color: $react-rater-hover;
    }
    &.is-active {
      color: $react-rater-active;
    }
    &.is-active-half:before {
      color: $react-rater-active;
      content: '\2605';
      position: absolute;
      left: 0;
      width: 50%;
      overflow: hidden;
    }
    &.is-disabled {
      color: $react-rater-link;
      cursor: not-allowed;
    }
  }
  &.is-disabled {
    a {
      cursor: default;
    }
  }
}
