.date {
	padding : 30px;
	.t {
		padding : 10px;
		margin-left : 30px;
	}

	.t1 {
		padding : 10px;
		margin-left : 70px;
	}

	.t2 {
		padding : 10px;
		margin-left : 35px;
	}

	.t3 {
		padding : 10px;
		margin-left : 95px;
	}

	.slide {
		width: 555px;
		margin-left : 35px;
		vertical-align: middle;
	}

	.f {
		padding : 20px;
	}
}