.filter {
	padding : 30px;
	.t {
		padding : 10px;
		margin-left : 30px;
	}

	.t1 {
		padding : 10px;
		margin-left : 70px;
	}

	.t2 {
		padding : 10px;
		margin-left : 35px;
	}

	.t3 {
		padding : 10px;
		margin-left : 95px;
	}

	.t4 {
		padding : 10px;
		margin-left : 100px;
	}

	.slide {
		width: 555px;
		margin-left : 35px;
		vertical-align: middle;
	}

	.sizeBedRoom {
		padding : 10px;
		margin-left : 80px;
	}

	.sizeBath {
		padding : 10px;
		margin-left : 60px;
	}

	.sizeBed {
		padding : 10px;
		margin-left : 65px;
	}

	.instantBook {
		padding : 10px;
		margin-left : 65px;
	}

	.f {
		padding : 20px;
	}
}

.pic {
	cursor:pointer;
}

$react-rater-link: #ccc !default;
$react-rater-hover: #666 !default;
$react-rater-active: #000 !default;

.react-rater {
  display: inline-block;
  line-height: normal;
  a {
    cursor: pointer;
    color: $react-rater-link;
    position: relative;
    &.will-be-active {
      color: $react-rater-hover;
    }
    &.is-active {
      color: $react-rater-active;
    }
    &.is-active-half:before {
      color: $react-rater-active;
      content: '\2605';
      position: absolute;
      left: 0;
      width: 50%;
      overflow: hidden;
    }
    &.is-disabled {
      color: $react-rater-link;
      cursor: not-allowed;
    }
  }
  &.is-disabled {
    a {
      cursor: default;
    }
  }
}
