.becomeHost {
	padding : 30px;
	.t {
		padding : 10px;
		margin-left : 30px;
	}

	.t1 {
		padding : 10px;
		margin-left : 70px;
	}

	.t2 {
		padding : 10px;
		margin-left : 35px;
	}

	.t3 {
		padding : 10px;
		margin-left : 95px;
	}

	.t4 {
		padding : 10px;
		margin-left : 100px;
	}

	.slide {
		width: 555px;
		margin-left : 35px;
		vertical-align: middle;
	}

	.sizeBedRoom {
		padding : 10px;
		margin-left : 80px;
	}

	.sizeBath {
		padding : 10px;
		margin-left : 60px;
	}
	
	.sizeBed {
		padding : 10px;
		margin-left : 65px;
	}
	
	.instantBook {
		padding : 10px;
		margin-left : 65px;
	}

	.f {
		padding : 20px;
	}
}