@import "../common.scss";

$bgColor: #fff;
$bgColorHover: rgba(245, 245, 245, 1);
$borderColor: rgba(210,210,210,1);
$fontFamily: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
$topHeaderHeight: 61px;

.header-container {



  .header-main {
    @include fixed-pos(0, 0, auto, 0);
    z-index: 3;
    display: block;
    height: $topHeaderHeight;
    @include box-sizing(border-box);
    font-family: $fontFamily;
    font-size: 14px;
    line-height: 1.43;
    color: #484848;
    background-color: $bgColor;
    padding: 0;
    border-bottom: 1px solid $borderColor;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: default;

    .icon-logo-container {
      min-height: $topHeaderHeight;
      max-height: $topHeaderHeight;
      line-height: $topHeaderHeight;
      border-right: 2px solid $borderColor;
      border-bottom: 1px solid $borderColor;
      @include box-sizing(border-box);
      position: relative;
      float: left;
      background-color: $bgColor;

      .icon-logo {
        width: 98.73px;
        border-left: 1px solid $borderColor;
        padding: 0 19px;
        padding-top: 14px;

        div {
          width: 98.73px;
          height: ($topHeaderHeight/2);
          line-height: ($topHeaderHeight/2);
          font-size: 24px;
          background-repeat: no-repeat;
          background-image: url('./Airbnb_Logo.svg');
          max-height: ($topHeaderHeight/2);
          max-width: 98.73px;
        }
      }

    }

    .right-btn {
      position: relative;
      height: $topHeaderHeight;
      line-height: $topHeaderHeight;
      border-left: 1px solid $borderColor;
      @include box-sizing(border-box);
      font-family: $fontFamily;
      font-weight: 550;
      font-size: 14px;
      color: #484848;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      // padding: 0 19px;
      float: right;
      background-color: #bgColor;
      text-decoration: none;

      &:hover {
        background-color: $bgColorHover;
      }

      > div {
        padding: 0 19px;
      }

      a {
        width: 100%;
        height: 100%;
        display: block;
        padding: 0 19px;
        text-decoration: none;
        color: #484848;
      }

      .dropdown-container {
        max-width: 0;
        max-height: 0;
        padding: 0;
        background-color: $bgColorHover;
        right: 0;
        position: absolute;
        // pointer-events: auto;
        display: block;
        overflow: hidden;
        @include box-sizing(border-box);

        &.visible {
          width: 280px;
          max-width: 280px;
          height: 94px;
          max-height: 94px;
          padding: 20px;
          border: 1px solid $borderColor;

          div {
            font-family: $fontFamily;
            font-size: 14px;
            line-height: 1.3;
          }
        }
      }


    }

    .become-a-host {
      border-left: 0;

      * {
        pointer-events: none;
      }

      .btn-rect {
        border: 2px solid $borderColor;
        border-radius: 2px;
        padding: 4px 12px;
        line-height: 1.43;
        font-weight: normal;
        text-align: center;
        /*vertical-align: middle;*/
        display: inline-block;
      }

    }



    .search-bar-wrapper {
      padding-top: 0;
      display: table-cell;
      width: 10000px;
      max-height: $topHeaderHeight;
      line-height: $topHeaderHeight;
      // border-left: 1px solid rgba(200,200,200, 1);
      // border-bottom: 1px solid $borderColor;
      position: relative;
      @include box-sizing(border-box);
      font-size: 14px;
      color: #484848;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      .search-bar {
        display: block;
        max-height: $topHeaderHeight;
        line-height: $topHeaderHeight;
        color: #484848;
        @include box-sizing(border-box);

        input {
          /*height: auto;*/
          max-height: $topHeaderHeight;
          width: 100%;
          padding: 19.5px 0 19.5px 48px;
          margin: 0;
          border: 0;
          outline: 0;
          @include box-sizing(border-box);
          line-height: 21px;
          @include appearance(none);
          display: block;
          @include transition(border-color 0.2s);
          @include border-radius(2px);
          background-color: $bgColor;
          color: #484848;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          -webkit-rtl-ordering: logical;
          -webkit-user-select: text;
          cursor: auto;
          text-rendering: auto;
          letter-spacing: normal;
          word-spacing: normal;
          text-transform: none;
          text-indent: 0px;
          text-shadow: none;
          text-align: start;
          font: 13.3333px Arial;
          -webkit-writing-mode: horizontal-tb;
        }

        .search-bar-icon {
          position: absolute;
          top: 19px;
          left: 16px;
          z-index: 1;
          background-repeat: no-repeat;
          background-image: url('./search-bar-icon.png');
          width: 24px;
          height: 24px;
          display: inline-block;
          background-color: transparent;
          vertical-align: baseline;
          @include box-sizing(border-box);
          font-style: italic;
          line-height: $topHeaderHeight;
          font-size: 14px;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }

      }


    }

  }





}
